# Kagenti installation configuration

#################################################################### 
# Kubectl templates
####################################################################
gatewayApi:
  enabled: false
 
kiali:
  enabled: false


charts:
  #################################################################### 
  # kagenti-deps 
  ####################################################################
  kagenti-deps:
    values:
      openshift: false
      components:
        mcpInspector:
          enabled: true
        metricsServer:
          enabled: true
        ingressGateway:
          enabled: true
        toolhive:
          enabled: true


  #################################################################### 
  # kagenti 
  ####################################################################        
  kagenti:
    enabled: true
    values: {}

  #################################################################### 
  # istio 
  ####################################################################    
  istio:
    enabled: true

  #################################################################### 
  # spire
  ####################################################################    
  spire:
    enabled: true
 
kind_images_preload: true
# docker or podman
container_engine: docker



