# Kagenti dev installation configuration


#################################################################### 
# kagenti-deps 
####################################################################
gatewayApi:
  enabled: true

certManager:
  enabled: true  

tekton:
  enabled: true 

kiali:
  enabled: true  

charts:
  #################################################################### 
  # kagenti-deps 
  ####################################################################
  kagenti-deps:
    enabled: true
    values:
      openshift: false
      components:
        keycloak:
          enabled: true
        otel:
          enabled: true
        mcpInspector:
          enabled: true
        metricsServer:
          enabled: true
        containerRegistry:
          enabled: true
        ingressGateway:
          enabled: true
        toolhive:
          enabled: true 

  #################################################################### 
  # kagenti 
  ####################################################################        
  kagenti:
    enabled: true
    values:
      openshift: false
      components:
        agentNamespaces:
          enabled: true
        platformOperator:
          enabled: true
        ui:
          enabled: true
        # additional artifacts required by MCP gateway     
        mcpGateway:
          enabled: true
      # configs    
      ui:      
        auth:
          enabled: true  

  #################################################################### 
  # istio  - required for the ingress gateway
  ####################################################################    
  istio:
    enabled: true

  #################################################################### 
  # mcp-gateway 
  ####################################################################    
  mcpGateway:
    enabled: true  

  #################################################################### 
  # spire
  ####################################################################    
  spire:
    enabled: true   
 
kind_images_preload: false
# docker or podman
container_engine: docker



