# Example secret values file. 
# This file should be kept out of source control (add to .gitignore) 
# and provided at runtime via -e "secret_values_file=.secret_values.yaml".

# Top-level keys will be merged into each component's values unless you
# structure them under component-specific keys.

# global secrets:
global: {}

# component-specific secrets
charts:
  kagenti:
    values:
      secrets:
        # Your GitHub User:
        githubUser: 
        # Your GitHub Token allowing read access:
        githubToken: 
        # (Optional) Your OpenAI API Key for accessing their models:
        openaiApiKey:
        # (Optional) Token for Slack Bot:
        slackBotToken: 
        # (Optional) Admin Token for Slack Bot:
        adminSlackBotToken: 
        # (Optional) Your Quay user for build-from-source.
        quayUser: 
        # (Optional) Your Quay token for building and pushing images (build-from-source).
        quayToken: 