# Example secret values file. 
# This file should be kept out of source control (add to .gitignore) 
# and provided at runtime via -e "secret_values_file=.secret_values.yaml".

# Top-level keys will be merged into each component's values unless you
# structure them under component-specific keys.

# global secrets:
global: {}

# component-specific secrets
charts:
  kagenti:
    values:
      secrets:
        githubUser: 
        githubToken: 
        openaiApiKey:
        slackBotToken: 
        adminSlackBotToken: 
        quayUser: 
        quayToken: 