{{- if and .Values.components.istio.enabled .Values.openshift }}
{{- /* Skip if servicemeshoperator3 Subscription already exists (e.g., pre-installed OSSM v3) */}}
{{- if not (lookup "operators.coreos.com/v1alpha1" "Subscription" "openshift-operators" "servicemeshoperator3") }}
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/servicemeshoperator3.openshift-operators: ""
    {{- include "kagenti.labels" . | nindent 4 }}
  name: servicemeshoperator3
  namespace: openshift-operators
spec:
  channel: stable
  installPlanApproval: Automatic
  name: servicemeshoperator3
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{{- end }}
{{- end }}
