{{- if and .Values.components.keycloak.enabled .Values.openshift }}
{{- /* Check if Keycloak CRD exists first to avoid lookup errors */}}
{{- $keycloakCRD := lookup "apiextensions.k8s.io/v1" "CustomResourceDefinition" "" "keycloaks.k8s.keycloak.org" }}
{{- /* Only check for existing Keycloak instance if CRD exists */}}
{{- $existingKeycloak := dict }}
{{- if $keycloakCRD }}
{{- $existingKeycloak = lookup "k8s.keycloak.org/v2alpha1" "Keycloak" .Values.keycloak.namespace "keycloak" }}
{{- end }}
{{- if not $existingKeycloak }}
apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  labels:
    app: kagenti
    {{- include "kagenti.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install, post-upgrade
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": before-hook-creation
  name: keycloak
  namespace: {{ .Values.keycloak.namespace }}
spec:
  bootstrapAdmin:
    user:
      secret: keycloak-initial-admin
  hostname:
    strict: false
  http:
    httpEnabled: true
    httpPort: 8080
  instances: 1
  networkPolicy:
    enabled: true
  update:
    strategy: RecreateOnImageChange
  db:
    host: postgres-kc
    database: postgres
    passwordSecret:
      key: password
      name: keycloak-db-secret
    usernameSecret:
      key: username
      name: keycloak-db-secret
    vendor: postgres
  unsupported:
    podTemplate:
      spec:
        containers:
          - name: keycloak
            env:
              - name: KC_PROXY_HEADERS
                value: "forwarded"
---
{{- end }}
{{- /* Check if Route already exists */}}
{{- $existingRoute := lookup "route.openshift.io/v1" "Route" .Values.keycloak.namespace "keycloak" }}
{{- if not $existingRoute }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: keycloak
  namespace: {{ .Values.keycloak.namespace }}
  labels:
    {{- include "kagenti.labels" . | nindent 4 }}
  annotations:
    openshift.io/host.generated: "true"
spec:
  path: /
  port:
    targetPort: 8080
  to:
    kind: Service
    name: keycloak-service
  wildcardPolicy: None
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
{{- end }}
{{- end }}

