# Kagenti installation configuration

#################################################################### 
# Secrets and value files
####################################################################
secrets:
  # if provided, this filename will be loaded by the role (example: .secret_values.yaml)
  file: "../envs/.secret_values.yaml"

values_files: {}

#################################################################### 
# Kubectl templates
####################################################################
gatewayApi:
  enabled: false
  version: v1.4.0

certManager:
  enabled: false
  version: v1.17.2

tekton:
  enabled: false
  version: v0.66.0

shipwright:
  enabled: false
  version: v0.14.0

kiali:
  enabled: false
  version: release-1.28  

charts:
  #################################################################### 
  # kagenti-deps 
  ####################################################################
  kagenti-deps:
    enabled: true
    chart: "../../charts/kagenti-deps"
    release_name: "kagenti-deps"
    namespace: "kagenti-system"
    dependency_update: true
    # values for the helm chart overriding the chart's values.yaml file
    values:
      openshift: false
      components:
        istio:
          enabled: false
        kiali:
          enabled: false
        keycloak:
          enabled: false
        otel:
          enabled: false
        spire:
          enabled: false
        mcpInspector:
          enabled: false
        metricsServer:
          enabled: false
        containerRegistry:
          enabled: false
        tekton:
          enabled: false
        certManager:
          enabled: false
        gatewayApi:
          enabled: false
        ingressGateway:
          enabled: false
        shipwright:
          enabled: false
      # components settings    
      containerRegistry:
        namespace: cr-system
        name: registry

  ####################################################################
  # mcp-gateway chart
  ####################################################################
  mcpGateway:
    enabled: false
    namespace: mcp-system
    version: 0.4.0
    values:
      image:
        tag: v0.4

  #################################################################### 
  # kagenti 
  ####################################################################        
  kagenti:
    enabled: true
    # chart: path to a local chart or chart reference (e.g. repo/chartname)
    chart: "../../charts/kagenti"
    release_name: "kagenti"
    namespace: "kagenti-system"
    dependency_update: true
    # values for the helm chart overriding the chart's values.yaml file
    values:
      components:
        agentNamespaces:
          enabled: true
        # additional artifacts required by MCP gateway
        mcpGateway:
          enabled: false
        platformOperator:
          enabled: false
        kagentiOperator:
          enabled: true
        ui:
          enabled: false
        istio:
          enabled: false  

  #################################################################### 
  # istio 
  ####################################################################    
  istio:
    enabled: false
    namespace: istio-system
    version: 1.28.0
    values: {}

  #################################################################### 
  # spire
  ####################################################################    
  spire:
    enabled: false
    namespace: spire-mgmt
    version: 0.27.0
    crd:
      version: 0.5.0
     # we will install Istio using the upstream charts (repo added during tasks)
    values:
      global:
        openshift: false
        spire:
          recommendations:
            enabled: true
          namespaces:
            create: true
          ingressControllerType: ""
          clusterName: agent-platform
          trustDomain: localtest.me
          caSubject:
            country: US
            organization: AgenticPlatformDemo
            commonName: localtest.me

      spire-server:
        tornjak:
          enabled: true
        controllerManager:
          ignoreNamespaces:
            - kube-system
            - kube-public
            - kagenti-system
            - tekton-*
            - istio-*
          identities:
            clusterSPIFFEIDs:
              default:
                autoPopulateDNSNames: true

      spiffe-oidc-discovery-provider:
        enabled: true
        tls:
          spire:
            enabled: false

      tornjak-frontend:
        enabled: true
        image:
          tag: v2.0.0
        ingress:
          enabled: true
        apiServerURL: http://spire-tornjak-api.localtest.me:8080
        service:
          type: ClusterIP
          port: 3000
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 100m
            memory: 512Mi

#################################################################### 
# Dev cluster setup (Kind)
####################################################################

create_kind_cluster: true
kind_cluster_name: kagenti
kind_images_preload: false
# docker or podman
container_engine: docker

# Paths to configs in the deployments/scripts directory (relative to playbook_dir)
kind_config: "./kind/kind-config.yaml"
kind_config_registry: "./kind/kind-config-registry.yaml"
preload_images_file: "./kind/preload-images.txt"


