{{- if .Values.components.mcpGateway.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: mcp-gateway
  namespace: "{{ .Values.mcpGateway.namespaces.gatewaySystem }}"
  annotations:
    networking.istio.io/service-type: ClusterIP
  labels:
    gateway-type: mcpgateway
    istio: ingressgateway
    {{- include "kagenti.labels" . | nindent 4 }}
spec:
  gatewayClassName: istio
  listeners:
    - name: mcp # going to the Broker, and no hostname field
      hostname: "{{ .Values.mcpGateway.hostname }}"
      port: 8080
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
    - name: mcps
      port: 8080
      protocol: HTTP
      hostname: '*.mcp.local' # this hostname can be any wildcard. It is here to simplify routing, ensure the MCP Server routes attach to this listener only, can be protected by the AuthPolicy and routed to via envoy and the MCPRouter.
      allowedRoutes:
        namespaces:
          from: All #any namespace can register an MCP server route
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  namespace: "{{ .Values.mcpGateway.namespaces.mcpSystem }}"
  name: mcp-route
  labels:
    {{- include "kagenti.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: http
      namespace: kagenti-system
  hostnames:
  - "{{ .Values.mcpGateway.hostname }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /mcp
      filters:
        - type: ResponseHeaderModifier
          responseHeaderModifier:
            add:
              - name: Access-Control-Allow-Origin
                value: "*"
              - name: Access-Control-Allow-Methods
                value: "GET, POST, PUT, DELETE, OPTIONS, HEAD"
              - name: Access-Control-Allow-Headers
                value: "Content-Type, Authorization, Accept, Origin, X-Requested-With"
              - name: Access-Control-Max-Age
                value: "3600"
              - name: Access-Control-Allow-Credentials
                value: "true"
      backendRefs:
        - name: mcp-gateway-broker
          port: 8080
    - matches:
        - path:
            type: PathPrefix
            value: /.well-known/oauth-protected-resource
      backendRefs:
        - name: mcp-gateway-broker
          port: 8080
---
{{- if .Values.openshift }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: mcp-gateway
  namespace: "{{ .Values.mcpGateway.namespaces.gatewaySystem }}"
  labels:
    {{- include "kagenti.labels" . | nindent 4 }}
spec:
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  port:
    targetPort: mcp
  to:
    kind: Service
    name: mcp-gateway-istio
    weight: 100
  wildcardPolicy: None
{{- end }}
{{- end }}
