{{- if and  .Values.agentNamespaces  .Values.spire.enabled }}
{{- $root := . }}
{{- range $root.Values.agentNamespaces }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: spiffe-helper-config
  namespace: {{ . }}
  labels:
    {{- include "kagenti.labels" $root | nindent 4 }}
data:
  helper.conf: |
    agent_address = "/spiffe-workload-api/spire-agent.sock"
    cmd = ""
    cmd_args = ""
    svid_file_name = "/opt/svid.pem"
    svid_key_file_name = "/opt/svid_key.pem"
    svid_bundle_file_name = "/opt/svid_bundle.pem"
    jwt_svids = [{jwt_audience="kagenti", jwt_svid_file_name="/opt/jwt_svid.token"}]
    jwt_svid_file_mode = 0644
    include_federated_domains = true
{{- end }}
{{- end }}